<a routerLink="/" hlmSidebarHeader class="items-center px-4 py-4">
  <img src="logo.png" alt="" width="200px" />
</a>

<div hlmSidebarContent class="h-screen px-2 py-2">
  <div class="mb-4">
    <button
      hlmSidebarMenuButton
      [hlmDropdownMenuTrigger]="moduleSwitcher"
      class="w-full justify-between bg-sidebar-accent text-sidebar-accent-foreground border border-border"
    >
      <div class="flex items-center gap-2">
        <ng-icon [name]="activeModule.icon" hlm />
        <span class="font-bold truncate">{{ activeModule.title }}</span>
      </div>
      <ng-icon name="lucideChevronsUpDown" class="ml-auto size-4 shrink-0" hlm />
    </button>

    <ng-template #moduleSwitcher>
      <hlm-dropdown-menu class="w-full">
        <hlm-dropdown-menu-group>
          <div class="px-2 py-1.5 text-sm font-semibold text-muted-foreground">
            Selecione o Módulo
          </div>
          <hlm-separator />

          @for (mod of menuItems; track mod.title) {
            <button
              hlmDropdownMenuItem
              (click)="setActiveModule(mod)"
              [routerLink]="mod.route"
              routerLinkActive="bg-sidebar-accent text-sidebar-accent-foreground font-semibold"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ng-icon [name]="mod.icon" class="mr-2 size-4" hlm />
              <span class="truncate">{{ mod.title }}</span>
            </button>
          }
        </hlm-dropdown-menu-group>
      </hlm-dropdown-menu>
    </ng-template>
  </div>

  <hlm-separator class="" />

  <div hlmSidebarGroup>
    <div hlmSidebarGroupContent>
      <ul hlmSidebarMenu>
        @for (subItem of activeModule.items; track subItem.title) {
          <li hlmSidebarMenuItem>
            @if (subItem.items) {
              <button
                hlmSidebarMenuButton
                [hlmDropdownMenuTrigger]="subMenu"
                side="right"
                align="start"
                class="flex w-full items-center justify-between"
              >
                <span>{{ subItem.title }}</span>
                <ng-icon name="lucideChevronRight" class="ml-auto size-4" hlm />
              </button>

              <ng-template #subMenu>
                <hlm-dropdown-menu sub>
                  <hlm-dropdown-menu-group>
                    @for (tela of subItem.items; track tela.title) {
                      <button hlmDropdownMenuItem>
                        {{ tela.title }}
                      </button>
                    }
                  </hlm-dropdown-menu-group>
                </hlm-dropdown-menu>
              </ng-template>
            } @else {
              <button
                hlmSidebarMenuButton
                class="flex w-full items-center"
                routerLink="{{ subItem.route }}"
              >
                <span>{{ subItem.title }}</span>
              </button>
            }
          </li>
        }
      </ul>
    </div>
  </div>
  <div hlmSidebarFooter class="mt-auto">
    <app-contrib-combobox />
  </div>
</div>
