<nav hlmBreadcrumb>
  <ol hlmBreadcrumbList class="">
    <li hlmBreadcrumbItem class="">
      <a hlmBreadcrumbLink link="/"><ng-icon name="lucideHome" class="" hlm />Início</a>
    </li>

    @for (crumb of breadcrumbs(); track crumb.url; let last = $last) {
      <li hlmBreadcrumbSeparator>
        <ng-icon name="lucideChevronRight" size="14" />
      </li>

      <li hlmBreadcrumbItem>
        @if (last) {
          <span hlmBreadcrumbPage>{{ crumb.label }}</span>
        } @else {
          <a hlmBreadcrumbLink [routerLink]="crumb.url">{{ crumb.label }}</a>
        }
      </li>
    }
  </ol>
</nav>
