<div class="z-50 flex w-full items-center">
  <nav hlmBreadcrumb class="hidden sm:block">
    <ol hlmBreadcrumbList>
      <li hlmBreadcrumbItem>
        <a hlmBreadcrumbLink link="/">Cadastro Econômico</a>
      </li>
      <li hlmBreadcrumbSeparator></li>
      <li hlmBreadcrumbItem>
        <a hlmBreadcrumbPage>Cadastro</a>
      </li>
      <li hlmBreadcrumbSeparator></li>

      <li hlmBreadcrumbItem>
        <a hlmBreadcrumbPage>Cadastro Novo Contribuinte</a>
      </li>
    </ol>
  </nav>
</div>
